.site-footer {
  .pre-footer {
    background-color: #0c151b;
    padding-top: 70px;
    padding-bottom: 53px;
    .container {
      .row {
        ul {
          li {
            padding-bottom: 23px;
            border-bottom: solid 1px #0e3030;
            margin-bottom: 23px;
            &:last-child {
              border-bottom: none;
            }
            a {
              color: $indie-cyan;
              text-transform: none;
              font-family: TrimWebLight,sans-serif !important;
              &:hover {
                text-decoration: none;
                color: white;
              }
            }
          }
        }
        a {
          color: $indie-cyan;
          font-size: 15px;
          text-transform: uppercase;
          font-family: TrimWebRegular,sans-serif !important;
          &:hover {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
    h2 {
      color: white;
      text-transform: uppercase;
      font-size: 20px;
      margin-top: 0px;
      margin-bottom: 37px;
    }

  }
  .post-footer {
    background: #16222b;
    padding-top: 86px;
    padding-bottom: 55px;
    color: $indie-gray;
    overflow: hidden;
    h2 {
      font-size: 15px;
      font-family: TrimWebLight,sans-serif !important;
      text-transform: uppercase;
      margin-bottom: 20px;
      line-height: 15px;
    }
    .footer-mail-icon, .bitcoin-wallet-footer {
      width: 40px;
      height: 40px;
    }
    .document-download-icon {
      width: 29px;
      height: 38px;
      margin-right: 12px;
    }
    ul {
      margin-bottom: 0px;
    }
    .col-xl-2 {
      border-left: solid 1px #16353a;
      padding-left: 30px;
      ul{
        li {
          font-size: 15px;
          text-transform: uppercase;
          line-height: 15px;
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            color: #97a8b7;
            &:hover {
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }
    .col-xl-3 {
      padding-left: 30px;
      border-left: solid 1px #16353a;
      ul {
        li {
          margin-bottom: 15px;
          line-height: 15px;
          text-transform: uppercase;
          margin-right: 22px;
          a {
            color: #97a8b7;
            &:hover {
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }
    .col-xl-4 {
      padding-left: 30px;
      position: relative;
      .footer-last-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        .footer-background-logo {
          width: 366px;
          position: absolute;
          top: -166px;
          left: -49px;
          height: 361px;
          opacity: 0.5;
          z-index: 0;
        }
      }
      form {
        height: 80px;
        position: relative;
        .footer-subscription-border {
          width: 256px;
          height: 37px;
          position: absolute;
          top: 0;
          right: -5px;
        }
        .form-group {
          position: absolute;
          right: 84px;
          top: 0px;
          z-index: 1;
          &:active {
            box-shadow: none;
          }
          &:focus {
            box-shadow: none;
          }
          label {
            display: block;
          }
          input {
            box-shadow: none;
          }
          .form-control {
            border: none;
            width: 156px;
            display: inline-block;
            float: right;
            background: transparent;
            font-size: 13px;
            padding-top: 8px;
            font-style: italic;
          }
        }
        .btn {
          width: 89px;
          display: inline-block;
          float: right;
          text-transform: uppercase;
          background: transparent;
          border: none;
          font-size: 12px;
          padding-top: 9px;
          z-index: 1;
        }
      }
      h2.connect-slack-join {
        display: inline-block;
      }
      .join-slack {
        width: 91px;
        height: 37px;
        font-size: 12px;
        background: transparent;
        text-transform: uppercase;
        padding-right: 14px;
        margin-left: 15px;
        position: relative;
        border: none;
        z-index: 1;
        &:active {
          background: transparent;
          box-shadow: none !important;
        }
        &:focus {
          box-shadow: none;
        }
        .connect-slack-border {
          position: absolute;
          width: 91px;
          height: 37px;
          top: 0;
          left: 0;
        }
      }
    }
    .col-xl-12 {
      padding-top: 60px;
      ul {
        li {
          color: $indie-gray;
          font-family: TrimWebRegular,sans-serif !important;
          font-size: 15px;
          padding-right: 30px;
          padding-left: 30px;
          a {
            color: $indie-gray;
            text-decoration: underline;
            font-family: TrimWebRegular,sans-serif !important;
            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }
}